/* Selector Css dengan menggunakan HTML */
body{
    font-family:Arial, Helvetica, sans-serif ;
}

/* jika sebuah style berlaku untuk 2 elemen
dapat menggunakan sparator "," artinya AND atau DAN */
h1, h2{
    color: green;
}

/* jika elemen yang sama ingin menggunakan style 
yang berbeda gunakan sparator "<Spasi> artinya didalam */
ul li a{
    color: aqua;
}
ol li a{
    color: blueviolet;
}

/* penggunaan id (dipanggil dengan "#")
dan kelas id (dipanggil dengan ".") sebagai selector dalam elemen HTML */
#p1{
    color: rebeccapurple;
}
.p2{
    color: burlywood;
}

/* membuat class costum pada elemen HTML */
.cetak-tebal{
    font-weight: bold;
}
p.cetak-tebal{
    font-size: x-small;
}