*{
    font-family: 'Courier New', Courier, monospace;
    font-variant: normal;
    font-style: italic;
}
#judul {
    text-transform: uppercase;
}

.penulis {
    text-decoration: underline;
    letter-spacing: 1px;
}
p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    text-align: justify;
    line-height: 1.6em;
    text-indent: 5%;
    word-spacing: 5px;
}
h4 a{
  color:red;
}
body {
    background-color: black;
    background-image: url(img/doors_lockers_retro_120760_1280x720.jpg);
    /* valuenya bisa diganti ganti */
    background-repeat: repeat;
    background-position: center center;
    padding: 100px;
}
table thead #kolom {
    background-color: brown;
}
table thead #kolom:hover {
    background-color: red;
    cursor: pointer;
}
p #TV:active {
    background-color: yellow;
    cursor: pointer;
}
tbody td ul li a:visited {
    color: green;
}